.container {
    width: 80%;
    display: flex;
    flex-direction: column;
}
.headBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
}
.searchBlock {
    box-sizing: border-box;
    background: #FFFFFF;
    opacity: 0.5;
    border-radius: 2px;
    padding: 20px 10px;
    text-align: start;
}

.inputContainer {
    display: flex;
    position: relative;
}

.inputContainer input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 0 8px 40px;
}

.inputContainer img {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 9px;
    left: 12px;
}

.tabslesBlock {
    height: 48px;
    left: 136px;
    top: 276px;
    background: #EFEFEF;
}
.table {
    width: 100%;
    height: 432px;
    left: 136px;
    top: 276px;
}

.td {
    height: 48px;
    left: 136px;
    top: 324px;
    background: #FFFFFF;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    padding: 3px;
    max-width: 300px;
    max-height: 10px;

}
.icons {
    display: flex;
    justify-content: center;
}

.linkPackList {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.link {
    color: black;
    text-decoration: none;
    font-weight: 500;
}
