.packsContainer {
  width: 80%;
  height: 82vh;

  .headBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .searchBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
  }

  .table {
    margin-top: 30px;
  }
}