.tableContainer {
  width: 100%;
  display: inline-block;
  box-shadow: 5px 5px 30px lightgray;

  .table {
    width: 100%;

    .thead {
      font-weight: bold;
      background-color: #E5E5E5;

      .td {
        border-bottom: 1px solid #ddd;
        height: 35px;
      }
    }
  }
}