.registerBlock {
    .wrapper {
        margin: 90px auto;
        max-width: 413px;
        background-color: #B0E0E6;
        padding: 25px 33px 30px;
        border-radius: 15px;

        .button {
            display: inline-block;
            margin: 0 auto;
            max-width: 266px;
            border-radius: 15px;
            font-size: 16px;
        }
    }
}