.app {
  text-align: center;
  background: #6a7285;
  height: 100vh;
  color: #f3f3f3;
}


//@keyframes App-logo-spin {
//  from {
//    transform: rotate(0deg);
//  }
//  to {
//    transform: rotate(360deg);
//  }
//}
