.button {
    width: 167px;
    height: 30px;
    margin: 3px;
    border-radius: 50px;
}

.disabled {
    width: 167px;
    height: 30px;
}

.secondary {
    border: 1px solid #0066CC;
    font-size: 15px;

}

.default {
    width: 132px;
    height: 30px;
    background: #9A8665;
    border: none;
    color: #FFFFFF;;
    left: 77.89%;
    right: 12.81%;
    top: 12.75%;
    bottom: 84.8%;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.01em;
}

.red {
    width: 129px;
    height: 30px;
    border: none;

    background-color: #cc0000;
    color: #FFFFFF;
    font-size: 15px;

}

.default:hover {
    width: 132px;
    height: 30px;
    opacity: 70%;
}

.red:hover {
    width: 167px;
    height: 30px;
    background-color: #ef3333;
}

.secondary:hover {
    background-color: #E5F0FA;
}


.default:active {
    width: 132px;
    height: 30px;
    opacity: 50%;
}

.secondary:active {
    background-color: #0066CC;
    width: 167px;
    height: 30px;
}

.red:active {
    width: 149px;
    height: 30px;
    border-radius: 3px;
    background-color: #850505;
    color: #FFFFFF;
}

.button:disabled {
    width: 167px;
    height: 30px;
    color: black;
    background-color: #9A8665;
    opacity: 0.5;
    border-radius: 3px;
    border: none;
}
